/* ---------------------------------------------------------------------
 === CSS for "HomePage" ===

 author:       Loïc Peron
 email:        peronloic.us@gmail.com
 github:       https://github.com/loicpw

 component:    HomePage
 description:  animated home page
----------------------------------------------------------------------*/
