/* ---------------------------------------------------------------------
 === CSS for "SpringSequence" ===

 author:       Loïc Peron
 email:        peronloic.us@gmail.com
 github:       https://github.com/loicpw

 component:    SpringSequence
 description:  uses react-motion to generate an array of interpolated values
----------------------------------------------------------------------*/
