/* ---------------------------------------------------------------------
 === CSS for "PageTitle" ===

 author:       Loïc Peron
 email:        peronloic.us@gmail.com
 github:       https://github.com/loicpw

 component:    PageTitle
 description:  h1 title
----------------------------------------------------------------------*/
