/* ---------------------------------------------------------------------
 === CSS for "SpingLinks" ===

 author:       Loïc Peron
 email:        peronloic.us@gmail.com
 github:       https://github.com/loicpw

 component:    SpingLinks
 description:  a set of links that expand from / collapse to a main button
----------------------------------------------------------------------*/
