/* ---------------------------------------------------------------------
 === CSS for "ContactPage" ===

 author:       Loïc Peron
 email:        peronloic.us@gmail.com
 github:       https://github.com/loicpw

 component:    ContactPage
 description:  basic contact page to send a message
----------------------------------------------------------------------*/
