/* ---------------------------------------------------------------------
 === CSS for "ContactForm" ===

 author:       Loïc Peron
 email:        peronloic.us@gmail.com
 github:       https://github.com/loicpw

 component:    ContactForm
 description:  basic contact form to send an email
----------------------------------------------------------------------*/
