/* ---------------------------------------------------------------------
 === CSS for "Header" ===

 author:       Loïc Peron
 email:        peronloic.us@gmail.com
 github:       https://github.com/loicpw

 component:    Header
 description:  app header container
--------------------------------------------------------------------- */
