/* ---------------------------------------------------------------------
 === CSS for "NavBar" ===

 author:       Loïc Peron
 email:        peronloic.us@gmail.com
 github:       https://github.com/loicpw

 component:    NavBar
 description:  basic main navbar
----------------------------------------------------------------------*/
